<style>
 {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: ;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#circle {
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: block;
}

.topnav a:hover {
  background-color: rgb(48, 221, 221);
  color: rgb(78, 10, 10);
}

.content {
  background-color: rgb(48, 221, 221);
  padding: 10px;
  height: auto; 
  text-align: center;
}

.footer {
  background-color: rgb(48, 221, 221);
  padding: 10px;
}
</style>